*{margin:0;padding:0;}
	a{text-decoration:none;color:#fff}
	li{list-style:none;}
	body{font-size:15px;font-family:"微软雅黑";color:#707070;background:#aaaaaa;}

		/*m-top start*/
		#mc{width:100%;height:900px;}
		#mc .m-top{width:100%;height:50px;background:rgba(0,0,0,.8);}
		#mc .m-top .t-head{width:1300px;height:50px;margin:0 auto;}
		#mc .m-top .t-head .h-logo{width:200px;height:50px;float:left;}
		#mc .m-top .t-head .h-logo img{border:0;display:block;width:126px;height:30px;margin: 10px 0 0 36px;}
		#mc .m-top .t-head .h-nav{width:600px;height:50px;float:left;}
		#mc .m-top .t-head .h-nav ul li{float:left;height:50px;font-size:16px;line-height:50px;
		margin-left:15px;margin-right:15px;text-align:center;position:relative;}
		#mc .m-top .t-head .h-nav .n-xiala1{width:400px;height:50px;background:#8c8c8c;position:absolute;top:50px;left:0;display:none;}
		#mc .m-top .t-head .h-nav .n-xiala2{width:200px;height:50px;background:#8c8c8c;position:absolute;top:50px;left:0;display:none;}
		#mc .m-top .t-head .h-nav .n-xiala ul{height:50px;margin:0 auto;}
		#mc .m-top .t-head .h-nav ul li a{color:#fff;}
		#mc .m-top .t-head .h-nav ul li .a{color:#d7d7d7;display:block;height:50px;}
		#mc .m-top .t-head .h-nav ul li .a:hover{background:#414141;color:#fff;}
		#mc .m-top .t-head .h-nav ul li:hover .n-xiala1{display:block;z-index:999;}
		#mc .m-top .t-head .h-nav ul li:hover .n-xiala2{display:block;z-index:999;}
		#mc .m-top .t-head .h-search{width:300px;height:50px;float:left;}
		#mc .m-top .t-head .h-search input{width:210px;height:30px;border:0px;outline:none;float:left;margin-top:10px;padding-left:10px;}
		#mc .m-top .t-head .h-search a{font-size:14px;color:#fff;display:block;width:80px;height:30px;float:left;
		background:#99cccc;text-align:center;line-height:30px;margin-top:10px;}
		#mc .m-top .t-head .h-login{width:86px;height:50px;float:right;}
		#mc .m-top .t-head .h-login a{width:40px;height:50px;display:block;color:#d7d7d7;font-size:14px;line-height:50px;text-align:center;}
		#mc .m-top .t-head .h-login a:hover{color:#fff;}
		#mc .m-top .t-head .h-login .l_login{float:left;}
		#mc .m-top .t-head .h-login .l_register{float:right;}
		#mc .m-top .t-head .h-login span{color:#fff;line-height:50px;}

		/*main start*/
		#mc .main{width:80%;height:765px;margin:20px auto;}
		#mc .main .head{width:100%;height:70px;background:#b5acae;font-size:20px;float:left;}
		#mc .main .head p{font-size:18px;line-height:70px;margin-left:40px;}
		#mc .main .head .head-title{width:110px;height:40px;margin:-71px 137px;font-size:24px;line-height:40px;}
		#mc .main .head .head-right{width:530px;height:28px;margin:70px 130px;}
		#mc .main .head .head-right ul li{float:left;font-size:15px;padding:10px;}
		#mc .main .head .head-right a:hover{color:#00ff33;}
		/*main.left start*/
		#mc .main .left{width:130px;height:693px;background:#afa5a9;float:left;}
		#mc .main .left .left-list{width:100%;height:60px;float:left;font-size:13px;line-height:60px;text-align:center;}
		#mc .main .left .left-list a{color:#fff;}
		#mc .main .left .left-list span{width:20px;height:20px;background:red;color:#fff;font-size:20px;margin-left:5px;}
		#mc .main .left .left-list a:hover{color:#33ffff;}
		/*main.right start*/
		#mc .main .right{width:1000px;height:693px;float:right;}
		#mc .main .right .right-list{width:170px;height:150px;float:left;margin:27px 14px;}
		#mc .main .right .right-list a{font-size:14px;color:#8b8b8b;}
		#mc .main .right .right-list a:hover{color:#00ff00;}
		#mc .main .right .right-list p{font-size:10px;}
		#mc .main .right .right-bottom{width:450px;height:25px;float:left;margin:40px 460px;}
		#mc .main .right .right-bottom input{margin:7px 6px;}
		#mc .main .right .right-bottom p{float:left;font-size:12px;line-height:25px;}
		#mc .main .right .right-bottom ul li{float:left;line-height:25px;margin-right:10px;}
		#mc .main .right .right-bottom a:hover{color:#8b8b8b;}
		#mc .main .right .right-bottom ul li input{width:40px;height:15px;outline:none;margin-top:3px;}
		#mc .main .right .right-bottom ul li img{width:32px;height:28px;margin:0px -7px;opacity:0.4;}
		#mc .main .right .right-bottom ul li img:hover{opacity:0.8;}
		/*bottom start*/
		.bottom{width:80%;height:40px;margin:-20px auto;}
		.bottom p{color:#000;width:100%;height:40px;text-align:center;line-height:40px;font-size:12px;}